body {
  font-family: 'Poppins', sans-serif;
}

.navbar{
    padding: 1rem;
    background-color: #d4eaff;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 768px){
    .navbar-brand{
        display: none;
        border-color: #9ac1e6;
    }
}