body {
  font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.8rem;
    font-family: "Rubik Maps", system-ui;
}

h2 {
    font-size: 2rem;
    font-family: "Rubik Maps", system-ui;
}

.seccion-oscura{
    color: white;
    background-color: rgb(4, 3, 3);
}

.seccion-clara {
    color: #000000;
    background-color: #fffbfb;
}

/* Sección Navbar */

.navbar{
    padding: 1rem;
    background-color: #ffffff;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Sección Hero*/

.hero{
    min-height: 450px;
    text-align: center;

}

.hero-principal{
    padding: 3rem;
}

.hero-principal h3{
    color: #000000;
    font-weight: 500;
    font-size: 1.8rem ;
    font-family: 'Poppins', sans-serif;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    margin: 20px;
}
/* Sobre mi */

.sobre-mi{
    height: 500px;
    padding: 1rem;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 3rem;
}

.sobre-mi .contenedor{
    margin: 0 auto;
    max-width: 650px;
}

.icono-acordeon{
    margin-right: 1rem;
}

p{

  line-height: 1.6;
}

/* Experiencia */

.experiencia{
    padding: 1rem;
    margin-bottom: 3rem;

}

.container{
    max-width: 1000px;
}

.carta{
    margin-bottom: 1rem;
}

.card-text, .card-title{
    text-align: left;
}

.botonArticulos{
    display: flex;
    justify-content: center;
}

.card-img-top{
    height: 200px;
}

/* Proyectos */

.proyectos{
    padding: 1rem;
}


.imagen-proyecto{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: block;
    transition: all 0.2s ease;
    
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay p {
    font-weight: bold;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    text-align: center;
}

.proyectos-carta{
    
    position: relative;
}

.proyectos-carta:hover .imagen-proyecto{
    opacity: 0.2;
}

.proyectos-carta:hover .overlay {
    opacity: 1;
}

/* Media Queries */

@media(max-width: 767px){
    .navbar-brand{
        display: none;
        border-color: #bedaf4;
    }
    
    .sobre-mi{
    height: 700px;
}

}

@media(max-width: 400px){
    .sobre-mi{
        height: 775px;
    }
}

@media(min-width: 768px){
    .sobre-mi p{
        text-align: justify;
    }
}



/* Animaciones */

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 0.8s ease;
}

.fade-in.aparecido {
  opacity: 1;
  transform: translateY(0);
}
